body {
  background-image: url('https://media.giphy.com/media/XifRMtou3cSvm/giphy.gif');
  margin: 0px;
  padding: 0px;
  border: 0px;
}

nav {
  display: block;
}

#leftHalf {
  display: block;
  float: left;
  width: 50%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#large {
  background: black;
  color: white;
  text-align: center;
  height: 60px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#rightHalf {
  display: block;
  float: left;
  width: 50%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.small {
  color: white;
  text-align: center;
  display: table;
  table-layout: fixed;
  width: 50%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  float: left;
  height: 30px;
  vertical-align: middle;
}

#grey {
  background: grey;
  color: black;
}

#yellow {
  background: yellow;
  color: black;
}

#red {
  background: red;
  color: black;
}

#green {
  background: green;
  color: black;
}

#icon {
  display: none;
}

/* TABLET*/
@media only screen and (max-width: 768px) {
  body {
    background-image: url('https://media0.giphy.com/media/I0zXHwh1T8Cl2/200.gif');
  }
  #leftHalf {
    display: block;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  #large {
    background: black;
    color: white;
    text-align: center;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: middle;
  }

  #rightHalf {
    display: block;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  .small {
    color: white;
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 25%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    float: left;
    height: 30px;
    vertical-align: middle;
  }

  #icon {
    display: none;
  }
}

/* MOBILE */
@media only screen and (max-width: 450px) {
  body {
    background-image: url('https://media2.giphy.com/media/l41m2RLpvmqybRdHq/200.gif');
  }
  
  #leftHalf {
    display: block;
    float: left;
    width: 80%;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  #large {
    background: black;
    color: white;
    text-align: center;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: middle;
  }

  #rightHalf {
    display: block;
    float: left;
    width: 20%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: black;
  }

  .small {
    display: none;
  }

  #icon {
    display: block;
    width: 20%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    float: left;
  }
  img {
    height: 60px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
